{

    "presets": [
        [
            "@babel/preset-env", {
                "targets": {
                    "node": "current"
                }
            }
        ]
    ],
    "env": {
        "test": {
            "plugins": ["istanbul"]
        }
    },
    "plugins": ["@babel/plugin-proposal-object-rest-spread"]
}