{
  "presets": [
    [
      "@babel/preset-env", {
      "targets": {
        "node": "current"
      }
    }
    ]
  ],
  "env": {
    "test": {
      "plugins": [
        "istanbul"
      ]
    }
  },
  "plugins": [
    "@babel/plugin-proposal-throw-expressions",
    [
      "module-resolver", {
      "extensions": [".js", ".json"],
      "root": ["."],
      "alias": {
        "test": "./test"
      }
    }
    ]
  ]
}
