{
    "include": ["src/**/*.js"],
    "exclude": [
        "src/**/index.js",
        "src/resources/",
        "src/transport/ScorePlayer.js",
        "src/Lib.js"
    ],
    "extension": [".js"],
    "reporter": ["lcov", "text", "html"],
    "require": "@babel/register",
    "sourceMap": false,
    "instrument": false,
    "cache": false,
    "all": true
}
